{% extends 'layout.html' %}

{% block body %}
<h1>Home</h1>

{% for post in d['posts'] %}
<h3><a href="/{{ post['slug'] }}">{{ post['title'] }}</a></h3>
<p>{{ post['content'] }}</p>
<hr/>
{% endfor %}

<form action="/posts/new" method="post">
  <fieldset>
    <label for="post-title">Title</label>
    <input id="post-title" name="title" type="text" placeholder="My Wonderful Blog post">
    <label for="post-content">Content</label>
    <input id="post-content" name="content" placeholder="Blah blah blah...">
    <button type="submit">New Blog Post</button>
  </fieldset>
</form>
{% endblock %}