
{% extends 'layout.html' %}

{% block body %}
<fieldset>
<h1>{{ d['post']['title'] }}</h1>
<h3>By {{ d['post']['username'] }}</h3>
<p>{{ d['post']['content'] |safe }}</p>
</fieldset>

<p>
<form action="/posts/comment" method="post" id="commenting">

  <div class="posting">
    <input type="hidden" name="post_slug" value ={{ d['post']['slug'] }}>

    <label for="comments_comment"><h3>Leave A Comment</h3></label>
     Username:<input name="user" value="Anonymous"></input><br>
	<br>
	<textarea rows="5" cols="50" maxlength="1000" id="comments_comment" name="comment" form="commenting"></textarea>
     <button type="submit">Comment</button>   

</div>
</form>

<h2>Comments</h2>
{% for comment in d['comments'] %}
<div class="posting"><h3>{{ comment['username'] }} posted:</h3>{{  comment['content'] |safe }}</div>
{% endfor %}
{% endblock %}
